H1, H2, H3, H4, H5, H6{
  font-size: 30px
}

p{
  font-size: 15px
  line-height: 1.4;
}

@media (max-width: 380px) {
  H1, H2, H3, H4, H5, H6{
    font-size: 20px;
  }
  p{
    font-size: 10px
    line-height: 1.4
  }
}
